HOST = "0.0.0.0"
PORT = 5000

JWT_SECRET = "super_secret_key"
NODE_ENV = "development"

DB_USER=postgres
DB_HOST=localhost
DB_NAME=clothes-system
DB_PASSWORD=root
DB_PORT=5432

DB_URL="if this exist the other db credentials are ignored"

MAIL_HOST=mailhog
MAIL_PORT=465
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=ssl
MAIL_FROM="test@test.com"